@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

$bg-color:#D8DBE2;
$font-color:#1B1B1E;
$accent-color:#373F51;
$accent-two:#58A4B0;
$accent-three:#A9BCD0;

* {
    font-family:Quicksand;
    color:$font-color;
}

html, body {
    background-color:$accent-two;
}

header {
    @include grid-row();
    text-align:center;
    border:2px solid $accent-color;
    max-width:80%;
}

#lots {
    @include grid-row();
    max-width:80%;
    list-style:none;

    li {
       // @include grid-column(3);
         border:2px solid $accent-color;
         background-color:$bg-color;
         text-align:center;
         border-radius:2px;
    }
}

#cars {
    @include grid-row();
    max-width:80%;
    list-style:none;

    li {
        @include grid-column(3);
         border:2px solid $accent-color;
         background-color:$bg-color;
         text-align:center;

         .fa {
             color:$accent-color;
         }

         button {
             border: 2px solid $accent-color;
             border-radius:5px;
             padding:2px;
             display:flex;
             justify-content:space-between;
             width:100%;
             text-align:center;
         }

         button:hover {
             background-color:$font-color;
             color:$bg-color;
         }
    }
}